<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Dashboard V.1 | Nalika - Material Admin Template</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
	<!-- NƠI GẮN LINK VÀO -->
	<div th:insert="~{admin/linkAdm :: links_admin}"></div>
	<!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->




	<div th:insert="~{admin/header :: header_admin}"></div>



	<!-- Mobile Menu start -->

	<div class="all-content-wrapper product-status mg-b-30">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="product-status-wrap">
					<h4>Products List</h4>

					<div class="add-product">
						<a th:href="@{/admin/productAdd/}">Thêm sản phẩm </a>
					</div>
					<table>
						<tbody>

							<tr>
								<th>Hình ảnh</th>
								<th>Tên</th>
								<!-- <th>Trạng thái</th> -->
								<th>Tác giả</th>
								<th>Giá giảm</th>
								<th>Ngày xuất bản</th>
								<th>Loại</th>
								<th>Thao tác</th>
							</tr>
							<div th:each="book : ${listbook}">
								<!-- <c:forEach items="${listAllBooks }" var="books"> -->
								<tr>
									<td><a th:href="@{/single_product}"
										class="single-banner-image-wrapper"> <img alt=""
											th:src="@{${book.hinhAnh}}" />
									</a></td>
									<td><p th:text="${book.tenSach}"></p></td>
									<!-- <td>
										<button class="pd-setting"
											style="background-color: red; color: white">hết</button>

									</td> -->
									<td><p th:text="${book.tenTacGia }"></p></td>
									<td><p th:text="${book.gia }"></p> <span>.000 VNĐ</span></td>
									<td><p th:text="${book.ngayXuatBan }"></p></td>
									<td><p th:text="${book.theloaisach }">
											<!-- <c:if test="${books.theloaisach == 1}">
											<p>Tiểu Thuyết</p>
										</c:if> <c:if test="${books.theloaisach == 2}">
											<p>Truyện Dài</p>
										</c:if> <c:if test="${books.theloaisach == 3}">
											<p>Truyện Ngắn</p>
										</c:if> <c:if test="${books.theloaisach == 4}">
											<p>Truyện Thiếu Nhi</p>
										</c:if> --></td>
									<td><a th:href="@{/admin/productEdit/}+${book.maSach}"><button
												data-toggle="tooltip" title="Edit" class="pd-setting-ed">
												<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
											</button> </a> <a onclick="return confirm('Bạn có chắc muốn xóa')"
										th:href="@{/admin/productDelete/}+${book.maSach}"><button
												data-toggle="tooltip" title="Trash" class="pd-setting-ed">
												<i class="fa fa-trash-o" aria-hidden="true"></i>
											</button> </a></td>
								</tr>
							</div>
							<!-- </c:forEach> -->
						</tbody>

					</table>



					<!-- <div>&nbsp</div> -->
					<!-- 	<!-- Phân trang -->
					<!-- <nav aria-label="Page navigation example">
						<ul class="pagination">
							<li class="page-item"><a class="page-link"
								if="${currentPage >1}"
								href="<%=request.getContextPath()%>/admin/listProducts/1">First</a></li>
							<li class="page-item"><a class="page-link"
								if="${currentPage >1}"
								href="<%=request.getContextPath()%>/admin/listProducts/${currentPage -1}">Previous</a></li>
							<c:forEach var="loop" begin="1" end="${totalPage}">
								<li class="page-item"><a class="page-link"
									href="<%=request.getContextPath()%>/admin/listProducts/${loop}">
										<c:out value="${loop}" />
								</a></li>
							</c:forEach>
							<li class="page-item"><a class="page-link"
								if="${currentPage < totalPage }"
								href="<%=request.getContextPath()%>/admin/listProducts/${currentPage +1}">Next</a></li>
							<li class="page-item"><a class="page-link"
								if="${currentPage < totalPage }"
								href="<%=request.getContextPath()%>/admin/listProducts/${totalPage}">Last</a></li>
						</ul>
					</nav> -->

				</div>
			</div>

		</div>
	</div>

	</div>


	<div th:insert="~{admin/footer :: footer_admin}"></div>
</body>

</html>